# /etc/systemd/system/mine-stats.service
[Unit]
Description=MineStats Service
Documentation=https://github.com/light4/mine-stats
After=network.target nss-lookup.target

[Service]
User=nobody
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/local/bin/mine-stats /usr/local/etc/mine-stats/
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
